* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  scrollbar-width: none;     
  -ms-overflow-style: none;  
}

body::-webkit-scrollbar {
  display: none;             
}